/* Importing a google font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Creating CSS Variables */
:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
}

/* Utility Classes */
button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #100e0f;
}
/* Navigation Styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
  height: 4rem;
}
/* navigation container for elements */
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/* each anchor tag */
li > a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}
/* Styling anchor tag on hover */
li > a:hover {
  border-bottom: 4px solid var(--main-color);
 
}
/* Styling the Header Section */
.header {
  background-image: url("./images/pexels-nao-triponez-129207.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
  /* flexbox magic */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}
.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}
.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: transparent;
  background: var(--main-color);
  border: none;
  transform: translateY(60px);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

/* .playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
