/* Importing a google font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Creating CSS Variables */
:root {
  --main-color: #deab5f;
  --primary-color: #312e2e;
  --background-color: #100e0f;
}

/* Utility Classes */
button {
  padding: 10px 30px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #100e0f;
}
/* Navigation Styles */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
  padding-top: 15px;
  height: 4rem;
}
/* navigation container for elements */
nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/* each anchor tag */
li > a {
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 10px;
}
/* Styling anchor tag on hover */
li > a:hover {
  border-bottom: 4px solid var(--main-color);
}
/* Styling the Header Section */
.header {
  background-image: url("./images/pexels-nao-triponez-129207.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #fff;
  /* flexbox magic */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.main-headings {
  position: absolute;
  top: 7rem;
  font-size: 4rem;
  word-spacing: 10px;
}
.primary-heading {
  position: absolute;
  bottom: 4rem;
  font-size: 4rem;
  word-spacing: 10px;
  margin-bottom: -40px;
}
.main-btn {
  position: absolute;
  bottom: 2rem;
  padding: 10px 30px;
  margin-top: 20px;
  background-color: transparent;
  background: var(--main-color);
  border: none;
  transform: translateY(60px);
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

/* .playfair-display-<uniquifier > {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Our Story Starts Here */
#our-story {
  height: 100vh;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img {
  width: 400px;
  height: 400px;
  background: url("images/pexels-chitokan-2183027-removebg-preview.png");
  background-position: center, center;
  background-size: contain;
  background-repeat: no-repeat;
}
.title-style {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  color: #fff;
  transform: translateX(-100px);
}
.line {
  width: 100px;
  height: 2px;
  background-color: #fff;
  transform: translateX(-120px);
}
.section-content > p {
  max-width: 500px;
  color: #fff;
  line-height: 20px;
  margin: 20px 0;
}
/* Coffeee section start */
.coffee-container {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.img-2 {
  height: 400px;
  width: 400px;
}
.title-two {
  font-size: 3rem;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.content-section > p {
  max-width: 500px;
  margin-top: 20px;
  color: #fff;
  font-family: serif;
}
/* Coffeee section End */
/* Card section start */
.products {
  margin-top: 5rem;
}
.title-three {
  font-size: 4rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.card {
  border: 2px solid var(--main-color);
  padding: 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  position: relative;
  margin-bottom: 4rem;
}
.card-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
  z-index: 2;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  border-radius: 100%;
}
.img-one {
  background-image: url(./images/1.png);
  background-position: center;
  background-size: contain;
}
.img-two {
  background-image: url(./images/2.png);
  background-position: center;
  background-size: cover;
}
.img-three {
  background-image: url(./images/3.png);
  background-position: center;
  background-size: contain;
}
.card-title {
  color: #fff;
  font-family: sans-serif;
  margin-top: 50px;
}
.card > .items {
  color: #fff;
  font-family: sans-serif;
}
/* Products end */
/* Footer STart */
footer {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer .container {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}
.container > .heading-info {
  margin-bottom: 20px;
}
footer > p {
  line-height: 25px;
}
.container > .heading-info > span {
  color: var(--main-color);
}
hr {
  margin-bottom: 20px;
  border: var(--main-color);
  width: 500px;
  margin: 0 auto;
}
.para {
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
}
